<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10 is-10-mobile">
                    <div class="box has-text-centered">
                        <!--
                    <figure class="image login-logo">
                        <img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />
                    </figure>
                    -->
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>

                        <h1>{{vm.message}}</h1>

                        <input type="text" name="" placeholder="Search for ....." ng-model="searchText">

                        
                        <table class="table is-hoverable" ng-repeat="group in eventGroups | filter: searchText">
                        
                            <tbody>
                                <tr>
                                    <th>
                                        <a ng-href="{{group.NonProfitURL}}" target="_blank"><h3>{{group.NonProfitName}}</h3></a>
                                    </th>
                                </tr>

                                <tr ng-repeat="event in group.Events">
                                    <!-- filter out past dates -->
                                    <td>{{event.EventName}}</td>
                                    <td>{{event.Description}}</td>
                                    <td>{{event.StartDate | date:'MM/dd/yyyy @ h:mma'}}</td>
                                    <td>{{event.EndDate | date:'MM/dd/yyyy @ h:mma'}}</td>

                                    <td>
                                        <button class="button is-normal is-primary" ng-click="register(event.EventId)">Register for Event</button>
                                        <!--
                                        <button class="button is-normal is-info" ng-click="edit(event.EventId, nonProfitId)">Edit Event</button>
                                        -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>