<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop is-10-mobile">
                    <div class="box has-text-centered">
                        <figure class="image login-logo">
                            <!--<img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />-->
                        </figure>
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                        <h1>{{vm.message}}</h1>
                        <h3>{{nonProfitName}}</h3>
                        <table class="table is-hoverable">
                            <tbody>
                                <tr>
                                    <th>{{thisEvent.EventName}}</th>
                                </tr>
                                <tr>
                                    <td>
                                        <!-- filter out past dates -->

                                        <h4>{{thisProfile.FirstName}} {{thisProfile.LastName}}</h4>
                                        <p>Event: {{thisEvent.Description}}</p>
                                        <p>{{thisEvent.StartDate | date:'MM/dd/yyyy @ h:mmaZ'}}</p>
                                        <p>{{thisEvent.EndDate | date:'MM/dd/yyyy @ h:mma'}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="field">
                            <button class="button is-normal is-normal" ng-click="postRegistration(thisProfile.Id)" ng-class="{'is-loading':inProgress}">Register</button>
                            <button class="button is-light is-normal" ng-click="cancel()" ng-class="{'is-loading':inProgress}">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>