<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10 is-10-mobile">
                    <div class="box has-text-centered">

                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>

                        <!--
                        <h1>{{vm.message}}</h1>
                        -->

                        <h1><em>{{freelancer.FirstName}} {{freelancer.LastName}}</em> Registered Events</h1>

                        <input type="text" name="" placeholder="Search for ....." ng-model="searchText">

                        <table class="table is-hoverable">

                            <tbody>
                                <!--
                                <tr>
                                    <th>
                                        <h2>{{group.NonProfitName}}</h2>
                                    </th>
                                </tr>
                                -->

                                <tr>
                                    <th>Event</th>
                                    <th>Description</th>
                                    <th>Starts</th>
                                    <th>Ends</th>
                                </tr>

                                <!-- <tr ng-repeat="event in group.Events"> -->
                                <tr ng-repeat="event in eventGroups | filter: searchText">
                                    <!-- filter out past dates -->
                                    <td>{{event.EventName}}</td>
                                    <td>{{event.Description}}</td>
                                    <td>{{event.StartDate | date:'MM/dd/yyyy @ h:mma'}}</td>
                                    <td>{{event.EndDate | date:'MM/dd/yyyy @ h:mma'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>