<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10 is-10-mobile">
                    <div class="box has-text-centered">
                        <!-- <figure class="image login-logo">
                            <img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />
                        </figure>
                        -->
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                        <h1>{{vm.message}}</h1>

                        <h3>{{nonprofit.Name}}</h3>

                        <input type="text" name="" placeholder="Search for ....." ng-model="searchText">

                        <table class="table is-hoverable">
                            <tbody>
                                <tr ng-repeat="event in events | filter: searchText">

                                    <td>{{event.Name}}</td>
                                    <td>{{event.Description}}</td>
                                    <td>{{event.StartDate}}</td>
                                    <td>{{event.EndDate}}</td>

                                    <td>
                                        <button class="button is-normal is-light" ng-click="register(nonprofit.id)">Register</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>