<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop is-10-mobile">
                    <div class="box has-text-centered">
                        <figure class="image login-logo">
                            <!--<img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />-->
                        </figure>
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                        <!--
                        <h1>{{vm.message}}</h1>
                        -->
                        <h2>{{nonProfit}} Event</h2>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="addEvent.EventName" class="input" type="text" placeholder="event name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>

                        <div class="dropdown form-group dropdown-start-parent">
                            <label>Start Date</label>
                                <div class="input-group date">
                                    <input id="datetime" type="datetime-local" class="form-control" ng-model="addEvent.StartDate">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                        </div>

                        <div class="dropdown form-group dropdown-end-parent">
                            <label>End Date</label>
                                <div class="input-group date">
                                    <input id="datetime" type="datetime-local" class="form-control" ng-model="addEvent.EndDate">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                        </div>
                        
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="addEvent.Description" class="input" type="text" placeholder="event description">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                                <button class="button is-primary is-normal" ng-click="postEvent()" ng-class="{'is-loading':inProgress}">Add Event</button>
                        </div>
                                <!--
                        <button class="button is-danger is-normal" ng-click="editEvent()" ng-class="{'is-loading':inProgress}">Edit Event</button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>