<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <!--
            <figure class="image login-logo">
                <img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />
            </figure>
            -->
            <div ng-show="error" class="notification is-danger">
                {{error}}
            </div>

            <h1>{{vm.message}}</h1>

            <input type="text" name="" placeholder="Search for ....." ng-model="searchText | filter: searchText">

            <table class="table is-hoverable" ng-repeat="group in freelancerGroups">
                <tbody>
                    <tr >
                        <th>
                            <h2>{{group.CategoryName}}</h2>
                        </th>
                    </tr>

                   <tr ng-repeat="freelancer in group.Freelancers | filter:{PublicReveal:true} ">
                        <td >
                           <a ng-href="{{freelancer.WebsiteURL}}" target="_blank">
                                <h3>{{freelancer.FirstName}} {{freelancer.LastName}}</a></h3>
                           <p>{{freelancer.Description}}</p>
                           <p>
                               <a id="likes" name="xxx" ng-click="recommend(freelancer.Id)">
                                   <span class="glyphicon glyphicon-thumbs-up"></span>  {{freelancer.RecommendCount}}
                               </a>
                           </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>