<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <!--
        <figure class="image login-logo">
            <img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />
        </figure>
        -->

            <div ng-show="error" class="notification is-danger">
                {{error}}
            </div>
            <!--
        <h1>{{vm.message}}</h1>
        -->

            <h3><em>{{freelancer.FirstName}} {{freelancer.LastName}}</em> Peeps <em>(posted Likes! to you)</em></h3>

            <input type="text" name="" placeholder="Search for ....." ng-model="searchText">

            <table class="table is-hoverable">
                <tbody>
                    <tr>
                        <th>Subscriber</th>
                        <th></th>
                        <th>Email</th>
                        <th></th>
                        <th>Website</th>
                    </tr>

                    <tr ng-repeat="peep in peepGroups | filter: searchText">
                        <td><a ng-href="{{peep.WebsiteURL}}" target="_blank">{{peep.FirstName}} {{peep.LastName}}</a></td>
                        <td></td>
                        <td>{{peep.Email}}</td>
                        <td></td>
                        <td>{{peep.WebsiteURL}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</section>