<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop is-10-mobile">
                    <div class="box has-text-centered">
                        <figure class="image login-logo">
                            <!--<img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />-->
                        </figure>
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                        <h1>{{message}}</h1>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="thisProfile.UserName" class="input" type="text" placeholder="username">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="thisProfile.FirstName" class="input" type="text" placeholder="first name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="thisProfile.LastName" class="input" type="text" placeholder="last name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="thisProfile.Email" class="input" type="email" placeholder="email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="thisProfile.WebsiteURL" class="input" type="url" placeholder="website url">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <!--
                                <input ng-model="thisProfile.Category" class="input" type="text" placeholder="DROPDOWN OF CATEGORIES">
                                -->
                                <select id="category" name="categories" type="number" ng-model="thisProfile.Category">
                                    <!-- <optgroup label="Category 1"> -->
                                        <option value="0">Artist</option>
                                        <option value="1">Florist</option>
                                        <option value="2">Personal Trainer</option>
                                        <option value="3">Photographer</option>
                                        <option value="4">Real Estate Agent</option>
                                        <option value="5">Software Developer</option>
                                        <option value="6">Therapist</option>
                                        <option value="7">Writer</option>
                                    <!-- </optgroup> -->
                                </select>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <textarea rows="4" cols="50" ng-model="thisProfile.Description" class="textarea" placeholder="a little bit about yourself ...">
                                </textarea>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <form>
                            <div>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Newsletter" ng-model="thisProfile.Newsletter" checked>
                                <!-- <input type="checkbox" id="subscribeNewsletter" name="Newsletter" value="subscribeNewsletter" ng-checked="thisProfile.Newsletter" checked -->
                                <!-- <label for="subscribeNewsletter" ng-model="thisProfile.Newsletter">subscribe to our newsletter?</label> -->
                                    subscribe to our newsletter?
                                </label>
                            </div>
                            <div>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="PublicReveal" ng-model="thisProfile.PublicReveal" checked>
                                    <!-- <input type="checkbox" id="makePublic" name="PublicReveal" value="makePublic" ng-checked="thisProfile.PublicReveal" checked> -->
                                    <!-- <label for="makePublic" ng-model="thisProfile.PublicReveal">make info public?</label> -->
                                    make info public?
                                </label>
                            </div>
                        </form>
                            <div class="field">
                                <button class="button is-primary is-normal" ng-click="editProfile()" ng-class="{'is-loading':inProgress}">Submit</button>
                            <!-- </div>
                        <div class="field"> -->
                            <button class="button is-danger is-normal" ng-click="delete()" ng-class="{'is-loading':inProgress}">Delete Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>