<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div id="homeContainer" class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop is-10-mobile">
                    <div class="box has-text-centered">
                        <figure class="image login-logo">
                            <img src="/Content/Images/darkNashvilleImage.jpeg" alt="logo" class="is-square is-128x128" />
                        </figure>
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>