<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10 is-10-mobile">
                    <div class="box has-text-centered">

                        <figure class="headerImage image login-logo">
                            <img src="/content/images/darkNashvilleImage.jpeg" alt="logo" class="is-square is-128x128" />
                        </figure>
                        
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                        <h1>{{vm.message}}</h1>

                        <input type="text" name="" placeholder="Search for ....." ng-model="searchText">
                        
                        <table class="table is-hoverable">
                            <tbody>
                                <tr ng-repeat="nonprofit in nonprofits | filter:{Active:true} | filter: searchText">

                                    <td><a ng-href="{{nonprofit.WebsiteURL}}" target="_blank"><h3>{{nonprofit.Name}}</h3></a>
                                        <p>{{nonprofit.Description}}</p>
                                        <p>
                                            <a id="npLikes" ng-click="recommend(nonprofit.Id)">
                                                <span class="glyphicon glyphicon-thumbs-up"></span>  {{nonprofit.RecommendCount}}
                                            </a>
                                        </p>
                                    </td>

                                    <td>
                                        <button class="button is-primary is-light" ng-click="listEvents(nonprofit.Id)">List Events</button>
                                    </td>
                                    <td>
                                        <button class="button is-primary is-light" ng-click="postEvent(nonprofit.Id)">Post Event</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>