<section class="hero is-fullheight" id="login">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third-desktop is-10-mobile">
                    <div class="box has-text-centered">
                        <figure class="image login-logo">
                            <!--<img src="/Content/img/logo-new.png" alt="logo" class="is-square is-128x128" />-->
                        </figure>
                        <div ng-show="error" class="notification is-danger">
                            {{error}}
                        </div>
                        <h1>{{vm.registermessage}}</h1>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="vm.username" class="input" type="text" placeholder="username">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="vm.password" class="input" type="password" placeholder="password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="vm.confirmpassword" class="input" type="password" placeholder="confirm password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="vm.fName" class="input" type="text" placeholder="first name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="vm.lName" class="input" type="text" placeholder="last name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input ng-model="vm.websiteURL" class="input" type="text" placeholder="website url">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <form>
                            <input type="radio" name="resource" value="Freelance" checked>Freelance<br>
                            <input type="radio" name="resource" value="Non-Profigt" />Non-Profit<br>
                        </form>
                        <div class="field">
                            <button class="button is-primary" ng-click="vm.register()" ng-class="{'is-loading':inProgress}">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>