body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
    color: #a3376b;
}

#logo img {
    margin-bottom: 0;
    margin-top: 15px;
}

img.logo {
        display: inline-block;
        width: 50px;
}

.nav .dropdown {
    margin-top: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F5F5;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input, searchBox {
    margin-bottom: 15px;
}

label.datetimeLabel {
    display: block;
    clear: left;
}

input.datetime {
    display: block;
    clear: left;
    color: orangered;
}


/*
#homeContainer {
    background-image: url("/Images/darkNashvilleImage.jpeg");
}
*/