body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#logo img {
    margin-bottom: 0;
    margin-top: 15px;
}

img.logo {
        display: inline-block;
        width: 50px;
}

.nav .dropdown {
    margin-top: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F5F5;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
#homeContainer {
    background-image: url("/Images/darkNashvilleImage.jpeg");
}
*/